<!DOCTYPE html>
<html>

<head>
    <title>SIMPLE_ASSET</title>

    <!-- 부트스트랩 라이브러리  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <div class="container">
          <h2>Welcome to Simple Asset</h2>
          <form action="/asset" method="post">
          
            <label for="fname">Asset key:</label><br>
            <input type="text" id="key" name="key"><br><br>
            
            <label for="lname">Asset value:</label><br>
            <input type="text" id="value" name="value"><br><br>
            
            <input type="submit" value="자산생성" class="btn btn-warning">
          </form> 
    </div>
    
</body>
</html>

