
<!DOCTYPE html>
<html>

<head>
    <title>SIMPLE_ASSET</title>

    <!-- 부트스트랩 라이브러리  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<!-- 
    인사문구
    자산생성 페이지 연결 버튼
    자산조회 페이지 연결 버튼 
-->
    <div class="container">
        <h2>Welcome to Simple Asset</h2>
        <p>
            <a href="./create" class="btn btn-secondary">자산 생성</a>
            <br><br>
            <a href="./query" class="btn btn-secondary">자산 조회</a>
            <br><br>
        </p>
    </div>

</body>

<script>
</script>

</html>
